@use 'src/styles/text';

bag-histogram-detail {
  display: block;

  .histogram-detail__title {
    @include text.meta;
    color: var(--c-fg-meta);
  }
  .histogram-detail {
    width: calc(100% + 8px);
    margin-right: -8px;
  }
}
