@use 'src/styles/layout';
@use 'src/styles/var';
@use 'src/styles/text';
@use 'src/styles/col';

bag-tooltip-bounds-content {
  display: block;

  .tooltip-with-bounds__title {
    @include text.tooltipTitle;
  }

  .tooltip-with-bounds__values {
    @include text.tooltip;
    display: grid;
    color: var(--c-fg-tooltip-value);
    grid-template-columns: 1fr max-content;

    dt {
      text-align: left;
    }

    dd {
      padding-left: 16px;
      font-weight: var.$font-weight-bold;
      text-align: right;
    }
  }

  .tooltip-with-bounds__value-lowlight {
    color: var(--c-fg-meta);
  }

  .tooltip-with-bounds__value-top-border {
    border-top: 1px solid var(--c-divider);
  }
}
