@use 'src/styles/col';
@use 'src/styles/text';
@use 'src/styles/var';
@use 'src/styles/layout';
@use 'src/styles/dim';

bag-weekly-report-geo-chart {
  display: flex;
  flex-direction: column;

  .bag-weekly-report-geo-chart__chart-title {
    @include text.paragraph2;
    font-weight: var.$font-weight-bold;
    margin: 8px 0;
  }
  .bag-weekly-report-geo-chart__legend {
    align-self: flex-end;
    margin-bottom: 8px;
  }
  .bag-weekly-report-geo-chart__meta {
    @include text.meta;
    color: var(--c-fg-meta);
  }
  bag-column-chart:not(:last-child) {
    margin-bottom: 24px;
  }

  @media (max-width: #{dim.$bp-max-md}) {
    .bag-weekly-report-geo-chart__legend {
      align-self: flex-start;
    }
  }
}
