bag-d3-canvas {
  display: flex;
  flex-direction: column;

  .d3-canvas {
    position: relative;
    width: 100%;
    overflow: hidden;

    & > canvas {
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      top: 0;
      height: 100%;
    }
  }

  .d3-canvas--ratio {
    min-height: var(--d3-canvas-min-h);
    max-height: var(--d3-canvas-max-h);

    &:before {
      content: '';
      display: block;
      padding-top: calc(var(--d3-canvas-ratio-h) / var(--d3-canvas-ratio-w) * 100%);
    }
  }

  .d3-canvas--flex {
    flex: 1 1 100%;
  }
}
