@use 'src/styles/text';
@use 'src/styles/col';
@use 'src/styles/layout';
@use 'src/styles/dim';
@use 'src/styles/var';
@use 'src/styles/mix';

bag-detail-card-vacc-doses-development {
  display: block;

  .detail-card-vacc-doses-development {
    display: flex;
    flex-direction: column;
  }

  .detail-card-vacc-doses-development__lr {
    @include mix.cardFiltersMainLr;
  }

  .detail-card-vacc-doses-development__chart-intro {
    @include mix.cardChartIntro;
  }

  .detail-card-vacc-doses-development__meta {
    @include text.meta;
    color: var(--c-fg-meta);
  }

  @media (max-width: #{dim.$bp-max-md}) {
    .detail-card-vacc-doses-development__relativity-filter--toggle {
      display: none;
    }
  }

  @media (min-width: #{dim.$bp-min-lg}) {
    .detail-card-vacc-doses-development__relativity-filter--select[bag-select] {
      display: none;
    }
  }
}
