@mixin ensureAccessibility {
  /* Blur images when they have no alt attribute */
  img:not([alt]) {
    filter: blur(10px);
  }

  textarea,
  select,
  input {
    &:not([id]):not([aria-labelledby]):not([aria-label]) {
      outline: 1px solid red;
      outline-offset: 8px;
    }
  }
}
