@use 'src/styles/mix';

bag-weekly-report-card-epi-summary {
  display: block;

  .weekly-report-card-epi-summary__view {
    display: flex;
    flex-direction: column;
  }

  .weekly-report-card-epi-summary__no-data {
    @include mix.noDetailCardContent;
  }
}
