@use 'src/styles/layout';
@use 'src/styles/text';
@use 'src/styles/col';
@use 'src/styles/var';
@use 'src/styles/dim';
@use 'src/styles/mix';

bag-detail-card-hosp-capacity-development {
  display: block;

  .detail-card-capacity-development {
    display: flex;
    flex-direction: column;
  }

  .detail-card-capacity-development__no-hosp {
    @include mix.noDetailCardContent;
  }

  .detail-card-capacity-development__lr {
    @include mix.cardFiltersMainLr;
  }

  .detail-card-capacity-development__chart-intro {
    @include mix.cardChartIntro;
  }

  .detail-card-capacity-development__meta {
    @include text.meta;
    color: var(--c-fg-meta);
  }

  @media (max-width: #{dim.$bp-max-md}) {
    .detail-card-capacity-development__filter-buttons {
      display: none;
    }
  }
  @media (min-width: #{dim.$bp-min-lg}) {
    .detail-card-capacity-development__filter-select[bag-select] {
      display: none;
    }
  }
}
