@use 'src/styles/col';
@use 'src/styles/var';
@use 'src/styles/text';
@use 'src/styles/dim';
@use 'src/styles/mix';

bag-overview-card {
  display: block;
  height: 100%;
  border-radius: var(--br-card);
  border: var(--border-card);
  box-shadow: var(--bs-card);
  background-color: var(--c-bg-card);

  .card {
    padding: var(--card-padding);
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .card__header {
    display: grid;
    grid-template-columns: auto min-content;
    margin-bottom: var(--card-padding);
  }

  .card__title {
    @include text.overviewCardTitle;
    margin: 0;
    word-break: break-word;
  }

  .card__subtitle {
    grid-row: 2;
  }

  .card__subtitle,
  .card__hint {
    @include text.meta;
    color: var(--c-fg-meta);
    word-break: break-word;
    white-space: pre-line;
  }

  .card__intro {
    @include text.meta;
    color: var(--c-fg-meta);
    margin-bottom: 1.2em;
  }

  .card__header-btn {
    grid-area: 1 / 2 / span 2;
    align-self: start;
    justify-self: center;
    outline: none;
    width: 24px;
    height: 24px;
    border: 0;
    padding: 0;
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--c-bg-button);
    color: var(--c-fg-button);
    // needs overflow:visible (default) for the warning svg stroke
  }
  .card__header-btn--warning {
    &:not(.card__header-btn--open) {
      color: col.$warning-fg;
      background: transparent;
      border-radius: 0;
      sc-svg {
        transform: scale(1.455) translateY(1.25px);
        transform-origin: bottom left;
        .base {
          fill: col.$warning-bg;
        }
      }
    }
  }

  .card__legend {
    margin-bottom: 8px;
    align-self: flex-end;
  }

  .card__chart-title {
    @include text.meta;
    color: var(--c-fg-meta);
  }

  .card__cta {
    @include text.link-button;
    display: flex;
    align-items: center;
    padding: 8px;
    margin: -8px;
    align-self: flex-start;

    &.card__cta--spaced {
      padding: 8px 8px 16px 8px;
    }

    sc-svg {
      width: 24px;
      height: 24px;
    }
  }

  bag-key-value-list {
    flex: 1 1 0;
  }

  bag-histogram-preview:not(:last-child),
  bag-histogram-preview-re:not(:last-child),
  bag-histogram-preview-lines:not(:last-child),
  bag-histogram-preview-area:not(:last-child),
  .card__hint:not(:last-child) {
    margin-bottom: 16px;
  }

  @media (max-width: #{dim.$bp-max-sm}) {
    .card {
      padding: 16px;
    }
  }

  @media (min-width: #{dim.$bp-min-lg}) {
    .card__title {
      margin: 0 0 3px 0;
    }
  }

  // facet
  &.--print {
    border: 0;
    box-shadow: none;

    .card__hint,
    .card__header-btn,
    .card__cta {
      display: none;
    }
  }
}
