@use 'src/styles/col';
@use 'src/styles/dim';

bag-matrix-heatmap {
  display: block;

  .matrix-heatmap {
    svg {
      shape-rendering: crispEdges;

      rect.focus-guide {
        pointer-events: none;
        transition: opacity 200ms ease-in-out;
      }
    }
  }
}
